// Color
$primary: 			#ffbf00;
$secondary: 		#323232;
$primary-color: 	$primary;
$secondary-color: 	$secondary;
$inverse: 			invert($primary);
$inverse-color: 	$inverse;
$dark: 				#383838;
$dark-color: 		$dark;
$dark-color-color: 	#ffffff;
$light: 			#ffffff;
$light-color: 		$light;
$light-color-color: #848484;
$white-color: 		#ffffff;
$black-color: 	    #000000;

$success: 			#5cb85c;
$info: 				#5bc0de;
$warning: 			#f0ad4e;
$danger: 			#ed5959;
$success-color:		$success;
$info-color:		$info;
$warning-color:		$warning;
$danger-color:		$danger;

$gray: 				#3B3F42;
$gray-light: 		transparentize($gray, 0.5);
$gray-lighter: 		transparentize($gray, 0.95);
$gray-dark: 		darken($gray, 50%);

$body-bg: 			#f4f5f6;//$light-color;

// Font
$font-size-root: 		16px;
$font-size-base: 		1rem; //4vh;
$font-size-small: 		80%;

$font-size-h1: 			2.75rem;
$font-size-h2: 			2.5rem;
$font-size-h3: 			2.25rem;
$font-size-h4: 			2rem;
$font-size-h5: 			1.5rem;
$font-size-h6: 			1rem;

$line-height-normal:	1;
$line-height-base: 		1.8;

$letter-spacing: 1.5px;

$primary-font-family: 		Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Lato", "Open Sans", "Helvetica Neue", Arial, sans-serif;
$secondary-font-family: 	"Lato", Raleway, "Lato Bold", Lato, serif;
$heading-font-family: 		$primary-font-family;
$subheading-font-family: 	$secondary-font-family;

$font-weight-hairline: 	100;
$font-weight-thin: 		200;
$font-weight-light: 	300;
$font-weight-bold: 		500;
$font-weight-heading: 	600;
$font-weight-bolder: 	700;
$font-weight-heavy: 	800;
$font-weight-black: 	900;

$kerning-wide: 		4px;
$kerning-wider: 	6px;
$kerning-widest: 	8px;
$kerning-narrow: 	3px;
$kerning-narrower:  2px;
$kerning-base: 		1px;

// Margin
$margin-base: 1rem;
$margin: 	0.833333rem;
$margin-xs: $margin/4;
$margin-sm: $margin/2;
$margin-lg: $margin*2;
$margin-xl: $margin*4;

// Padding
$padding-base: 1rem;
$padding: 	 0.833333rem;
$padding-xs: $padding/4;
$padding-sm: $padding/2;
$padding-lg: $padding*2;
$padding-xl: $padding*4;

// Transitions
$transition-default: all 0.25s ease-in-out;

// Sidebar
$sidebar-width-wide-min: 150px;
$sidebar-width-wide: 180px; //15vw;
$sidebar-width-narrow-min: 50px;
$sidebar-width-narrow: 50px;

// Utilitbar
$utilitybar-height: 50px;

// Main
$main-offset-wide: $sidebar-width-wide;
$main-offset-narrow: $sidebar-width-narrow;

// Bootstrap Override
$brand-primary: 			$primary !default;
$brand-success: 			$success !default;
$brand-info: 				$info !default;
$brand-warning: 			$warning !default;
$brand-danger: 				$danger !default;

$enable-flex:               false !default;
$enable-rounded:            false !default;
$enable-shadows:            true !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

$border-radius:          	0 !default;
$border-radius:          	0 !default;
$border-radius-lg:       	0 !default;
$border-radius-sm:       	0 !default;
$border-radius-base: 		0 !default;
$border-radius-large:   	0 !default;
$border-radius-small:  		0 !default;

$grid-gutter-width: 		30px !default;

$container-tablet: 			(720px + $grid-gutter-width) !default;
$container-sm:	 			$container-tablet !default;

$container-desktop: 		(940px + $grid-gutter-width) !default;
$container-md: 				$container-desktop !default;

$container-large-desktop:	(1340px + $grid-gutter-width) !default;
$container-lg: 				$container-large-desktop !default;