.card {
	@extend .card;
	&-inset {
		background-color: transparentize(#000, 0.8);
		color: #ffffff;
	}

	&-dark {
		background-color: $dark-color;
	}

	&-transparent {
		background-color: transparent;
		border: none;
	}

	&[class*="-border"] {
		margin-bottom: 0;
	}
	&-border-left {
		border: none;
		border-left: 1px solid $gray-lighter;
	}
	&-border-right {
		border: none;
		border-right: 1px solid $gray-lighter;
	}
}